################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CityInfo.API/CityInfo.API/bin/Debug/net8.0
/CityInfo.API/.vs/CityInfo.API
/.vs
/CityInfo.API/CityInfo.API/obj
/CityInfo.API/CityInfo.API/PPF_Request.pdf
